@using System.Web.UI.WebControls
@using Leagues.Extensions
@model IEnumerable<Leagues.Models.TuesdayMatch>

@{
    ViewBag.Title = "Index";
}

<h2>Tuesday Matches for @ViewBag.Date</h2>
@using (Html.BeginForm("Index", "TuesdayMatches", FormMethod.Post))
{
    <div>

        @Html.DropDownList("ScheduleID", (SelectList)ViewBag.ScheduleID, "Select Week", new { @class = "form-control" })
        <input type="submit" value="Select Week" class="btn btn-primary" />
    </div>
}
<br />

<p>
    <a href="/Reports/TuesdayScoring.aspx?weekid=@ViewBag.WeekID" >This week's standings report</a><br/>
    <a href="/Reports/TuesdayScoreCards.aspx?&weekid=@ViewBag.WeekID" >This week's score cards</a>
</p>

<table class="table-condensed table-striped">
    <tr>
        <th>
            Exchange Rink
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuesdaySchedule.GameDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forfeit)
        </th>

        <th></th>
    </tr>
    @{ var id = 0;}
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @{
                if (@id > 0)
                {
                    @Html.ActionImage("MoveUp", new { id = id, weekid = ViewBag.WeekID }, "~/Content/Images/uparrow.png", "Move Up one rink");
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuesdaySchedule.GameDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuesdayTeam.id)&nbsp; (@Html.DisplayFor(modelItem => item.TuesdayTeam.Player.NickName),@Html.DisplayFor(modelItem => item.TuesdayTeam.Player1.NickName) )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuesdayTeam1.id) &nbsp;(@Html.DisplayFor(modelItem => item.TuesdayTeam1.Player.NickName),@Html.DisplayFor(modelItem => item.TuesdayTeam1.Player1.NickName) )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2Score)
        </td>
        <td>
            @{
                switch (item.Forfeit.ToString())
                {
                    case "1":
                        @Html.Raw("")
                        ;
                        break;
                    case "2":
                        @Html.DisplayFor(modelItem => item.TuesdayTeam.id)
                        ;
                        break;
                    case "3":
                        @Html.DisplayFor(modelItem => item.TuesdayTeam1.id)
                        ;
                        break;
                }
            }
        </td>
        <td>
            @Html.ActionLink("Scoring", "Scoring", new { id = item.id })
        </td>
    </tr>
        id++;
    }

</table>




@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){

            $("#ScheduleID").change(function(){

                var selected = $("#ScheduleID option:selected").val();
                $("#Create").attr('href',"TuesdayMatches/Create/" + selected);

            });

        });

    </script>
}
